    .hero{
        display: grid;
        grid-template-columns: 100%;
        background-image: url("images/background.png");
        background-size: cover;
        border-radius: 25px;
    }
    .name{
        grid-column-start: 1;
        justify-self: center;
        align-self: end;
        font-size: clamp(2.5rem, 5vw, 5vw);
        white-space: nowrap;
        overflow: hidden;
        padding-top: 5vw;
        padding-left: 3vw;
        font-family: 'Abril Fatface', serif; 
        color: #28497Aff;
    }
    .description{
        grid-row-start: 2;
        justify-self: center;
        align-self: center;
        padding-bottom: 10vw;
        padding-left: 3vw;
        text-align: center;
        font-family: Poppins, sans-serif;
        color:  #0C162Aff;
    }
    .portrait{
        height: 300px;
        width:auto;
        grid-column-start: 1;
        grid-row-start: 3;
        justify-self: center; 
    }
    #me{
        display: grid;
        justify-self: center;
        font-family: 'Abril Fatface', serif;
        padding-top: 4vw;
        color:#28497Aff;
    }
    #about{
        display: grid;
        justify-self: center;
        text-align: center;
        font-family: Poppins, sans-serif;
        padding-left: 3vw;
        padding-right: 3vw;
        color: #0C162Aff;
    }
    #nameInput{
        display: grid;
        grid-template-columns: 30% 25% 15% 30%;
    }
    #who{
        display: grid;
        justify-self: center;
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 5;
        padding: 3vw;
        font-family: 'Abril Fatface', serif;
        color:#28497Aff;
        font-size: 3vw;
    }
    #goodMorning{
        justify-self: center;
        grid-column-start: 2;
        grid-row-start: 2;
        background-color: #ABA5FF;
    }
    #submit{
        grid-column-start: 3;
        grid-row-start: 2;
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
        border: none;
        border-radius: 25px;
        background-color: #ABA5FF;
        color: white;
    }
    #submit:hover{
        background-color: #7475D7ff;
    }
    #submit:active{
        background-color: #3C4693ff;
    }
    #hello{
        display: grid;
        justify-self: center;
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        padding: 3vw;
        font-family: 'Abril Fatface', serif;
        color:#28497Aff;
        font-size: 3vw;
    }
    #goodMorning::placeholder{
        color: white;
    }
    #list{
        display: grid;
        justify-self: center;
        font-family: 'Abril Fatface', serif;
        padding-top: 4vw;
        color: #28497Aff;
    }
    .scrolling-wrapper {
        display: flex;
        gap: 10vw;
        padding-left: 10vw;
        padding-right: 10vw;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        .card {
            display: inline-block;
        }
    }
    .card{
        display: flex;
        padding: 30px;
        border-radius: 25px;
        width: 350px;
        min-width: 350px;
        max-width: 350px;
        background-color: #A4BBFFff;
        margin-bottom: 3vw;
    }
    .cover{
        display: flex;
        width: 200px;
        height: auto;   
        justify-self: center; 
    }
    .bookDesc{
        display: flex;
        justify-self: center;
        font-family: Poppins, sans-serif;
        background-color:#578EE5ff;
        color: #A4BBFFff;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    .bookTitle{
        display: flex;
        justify-self: center;
        font-family: 'Abril Fatface', serif;
        color: #3C4693ff;
    }
    .author{
        display: flex;
        justify-self: center;
        font-family: Poppins, sans-serif;
        color:#7475D7ff;    
    }
    .bookDesc:hover{
        background-color:#3C4693ff;
        color:#7475D7ff;   
    }
    .scrolling-wrapper::-webkit-scrollbar{ 
        height: 20px;
        background-color: #ABA5FFff;
        border-radius: 25px;
    }
    .scrolling-wrapper::-webkit-scrollbar-thumb{
        background:#578EE5ff;
        border-radius: 25px;
    } 
    @media only screen and (max-width: 700px) {
        .scrolling-wrapper {
            &::-webkit-scrollbar {
             display: none;
            }
        }

    }
    #bottom{
        font-size: max(1.5vw, 15px);
        color:  #3C4693ff;
        font-family: Poppins, sans-serif;
        text-align: center;
    }    

    @media only screen and (min-width: 700px) {
    .hero{
        grid-template-columns: 50% 50%;

    }
    .name{
        grid-column-start: 1;
        grid-row-start: 1;
        justify-self: center;
        align-self: start;
        font-size: clamp(2rem, 5vw, 5vw);
    }
    .description{
        grid-column-start: 1;
        grid-row-start: 2;
        justify-self: center;
        align-self: top;
        padding-bottom: 0vw;
    }
    .portrait{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        padding-top: none;
    }
    #me{
        display: grid;
        justify-self: left;
        padding-left: 3vw;
        padding-right: 3vw;
    }
    #about{
        display: grid;
        justify-self: left;
        text-align: left;
    }
    #list{
        display: grid;
        justify-self: left;
        padding-left: 3vw;
        padding-right: 3vw;
    }   
}
